<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aprisma.akirah.bingung"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <permission
        android:name="ca.sfu.cmpt276.bfraser.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ca.sfu.cmpt276.bfraser.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The following two permissions are not required to use
	     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyATMBKHBn3w6NXmtuTgFMwJNKV3j6pxIss" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="aprisma.akirah.bingung.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="aprisma.akirah.bingung.RegistrasiActivity"
            android:label="@string/registrasi"
            android:screenOrientation="portrait" />
        <activity
            android:name="aprisma.akirah.bingung.detail.KlasifikasiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="aprisma.akirah.bingung.timeline.TimelineAcitivity"
            android:label="@string/timeline"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarThemeTimeline" />
        <activity
            android:name="aprisma.akirah.bingung.detail.DetailActivity"
            android:label="@string/deskripsi_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="aprisma.akirah.bingung.detail.MapActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!-- Points to searchable activity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".MapActivity" />

            <!-- Points to searchable meta data -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".PlaceProvider"
            android:authorities="aprisma.akirah.bingung.PlaceProvider"
            android:exported="false" />

        <activity
            android:name="aprisma.akirah.bingung.detail.PengaturanActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="aprisma.akirah.bingung.detail.ProfilActivity"
            android:label="@string/profil"
            android:screenOrientation="portrait" />
        <activity
            android:name="aprisma.akirah.bingung.detail.MyTimelineActivity"
            android:label="@string/mytimeline"
            android:screenOrientation="portrait" />
        <activity
            android:name="aprisma.akirah.bingung.detail.BantuanActivity"
            android:label="@string/bantuan"
            android:screenOrientation="portrait" />
        <activity
            android:name="aprisma.akirah.bingung.detail.FotoActivity"
            android:label="@string/foto_profil"
            android:screenOrientation="portrait" />
        <activity
            android:name="aprisma.akirah.bingung.detail.DetailProfilActivity"
            android:label="@string/detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="aprisma.akirah.bingung.detail.AkunActivity"
            android:label="@string/akun"
            android:screenOrientation="portrait" />
        <activity
            android:name="aprisma.akirah.bingung.detail.CommentActivity"
            android:label="@string/beri_koment"
            android:screenOrientation="portrait" />
    </application>

</manifest>