<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aprisma.akirah.bingung"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="aprisma.akirah.bingung.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="aprisma.akirah.bingung.RegistrasiActivity"
            android:label="@string/registrasi"
            android:screenOrientation="portrait" />
        <activity
            android:name="aprisma.akirah.bingung.slidingmenu.KlasifikasiActivity"
            android:label="@string/klasifikasi"
            android:screenOrientation="portrait" />
        <activity
            android:name="aprisma.akirah.bingung.timeline.TimelineAcitivity"
            android:label="@string/timeline"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarThemeTimeline" />
        <activity
            android:name="aprisma.akirah.bingung.detail.DetailActivity"
            android:label="@string/deskripsi"
            android:screenOrientation="portrait" />
    </application>

</manifest>